<div class="card has-background-grey-dark mb-5">
    <header class="card-header-title">
        <div class="column">
            <p class="has-text-white-bis"></p>
            <a href="/post/{{id}}" class="has-text-white-bis">{{title}} </a></p>
        </div>

        <div class="column">
            <span class=""></span>
        </div>
    </header>

    <div class="card-content">
        <div class="content has-text-justified has-text-white-bis">
            {{content}}
        </div>
    </div>
    <div class="has-text-white-bis">
        <b>{{user.username}}</b>| 
        <a href="/post/{{id}}">| {{format_date}} | {{format_multiple "Comment" comments.length}}</a>
    </div>
</div>